@import './color.scss';
@import './mixin.scss';

* {
  background-color: $main-background;
  color: $main-text;

  @include scroll-style-none;
}

button {
  cursor: pointer;
  border: 0;
}

button:focus,
button:active {
  outline: none !important;
  box-shadow: none !important;
}
